body{
    font-family:Roboto,Sans-serif;
    margin: 0px;
    padding: 0PX;
    line-height: 1.6;
    box-sizing:border-box;
    background-color:#282c34;
    colour:rgb(29,27,27);
    
    }
    header{
        background-color: red ;
        color: #fff;
        padding:20px 0;
        text-align: center;
        }
        nav ul{
            list-style:none ;
            padding: 0;
            }
     nav ul li{
        display: inline;
        margin: 0 15px;
            }  
             nav ul li a{
                color:blue;
                text-decoration: none;
                 fornt-weigt:bold;
                 transition-colour
                 position:relative;
             }
             nav ul li a:hover{
               color:gray;
             }

             section{
                margin: 20px auto;
                padding:50px 50px;
                max-width: 800px;
                text-align: center;
             }
             #project,#about#contact-me.{
             max-width: 800px;
               margin: 20px outo;
             }
.project{
    back-groundcolour: gold;
    margin:20px;
    padding:20px;
    border-radius:10px;
    box-shodow: 0 4px 6px rgbo(0 0 0 0.1) ;
    transition:tranform 0.3s ease -in-out
    display:flex;
    flex-diroction:column;
    align-items:center;
    }
.project:horver{
    trancition:translate(-5px)
    }
form{
    displayflex
    flex-daeraction:column;
    gap:15px;
    max-width:400px;
    margin:0 auto;
}
input,textarea,button{
    widith:100%;
    padding:10px;
    fornt-size:1rem;
    border:1px solid#ccc;
     border-radias:5px;   
}
buton{
    background-colur:333;
    colour white
    coiurser:pointer;
    transition:background-colour03s
        ease?
        background-colour#ff9800;
}
             section h2{
   color: #333;
   margin-bottom: 10px;
}
footer{
   background-color: #333;
   color: #fff;
   text-align:center;
   padding: 10px 0;
   position: absolute;
   bottom: 0;
   width: 100%;
}
nav ul li a:befor{
    contanc:'';
    position:absolut;
    left:0;
    bottom:0;
    height:2px;
    widith:0;
    background:#ff 9800;
    transition:widith0.3s cose-in-out;
}
nav ul li a:hever;:befor{
    widith:100%;
}
@media (max-widith:768px){nau ul{
    flex-direction:colum;
    project{
        tex-align:center;
    }
}
